<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <input id="username" type="text" name="username">
    <input id="password" type="text" name="password">
    <input id="go" type="button" value="GO"> 
    <input id="rr" type="button" value="RR"> 
    <script>
      var token = '';

      $(document).ready(function() {

        $('#go').on('click', function() {
          var postData = { username: 'ciao', password: 'ciao' };

          $.ajax({
            type: 'POST',
            url:  '/index.php/login',
            data: postData,
            success: function(data, textStatus, request){
              token = request.getResponseHeader('Authorization');
              console.log(token);
            },
            error: function (request, textStatus, errorThrown) {
              console.log(999);
            }
          });
        });

        $('#rr').on('click', function() {
          $.ajax({
            type: 'POST',
            url:  '/index.php/restrict',
            data: { cc: 'bb' },
            beforeSend: function(request) {
              if(token) {
              request.setRequestHeader("Authorization", token);
              }
            },
            success: function(data, textStatus, request){
              console.log(data);
            },
            error: function (request, textStatus, errorThrown) {
              console.log(999);
            }
          });
        });
      });
    </script>
  </body>
</html>

